/* Estilos para o menu de navegação lateral */
.nav-menu {
    position: fixed;
    left: 0;
    width: 250px;
    height: 100%;
    background: #f8f8f8;
    border-right: 2px solid #ddd;
}

/* Estilos para o conteúdo principal */
.content {
    margin-left: 250px; /* mesma largura do menu de navegação */
    padding: 1em;
}
